/*Entire Document*/

*{
    margin: 0;
    padding: 0;
    max-width: 1200px;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

:root{
    --main-dark-blue:rgb(2, 22, 97);
    --main-medium-blue:rgb(68, 109, 151);
    --main-light-blue:rgb(157, 236, 240);
    --main-white:rgb(240, 240, 240); 
    scroll-behavior: smooth;
}

.sub-headers{
    font-size: 1.65rem;
    max-width: 75%;
    margin: 0 auto 4rem auto;
    text-decoration: underline;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/*Header/Navigation Section*/
#navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--main-dark-blue);
}

.nav-items{
    display: flex;
    margin-right: 1.50rem;
}

.nav-items a{
    display: block;
    font-size: 1.25rem;
    padding: 1.25rem 5rem;
    text-decoration: none;
    color: var(--main-white);
    align-items: center;
}

.nav-items a:hover{
    background-color: var(--main-white);
    color: black;
    font-weight:500;
    transition: 0.5s ease-in-out;
    text-shadow: 2px 2px 4px #000000;
}

ul{
    list-style: none;
    line-height: 2rem;
}

/*Section 1: Welcome*/

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    animation-name: welcome;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    background-color: var(--main-light-blue);
}

@keyframes welcome{
    0%{color: lightgrey}
    100%{color: black;}
}

h1{
    font-size: 3rem;
}
#welcome-section p{
    font-size: 2rem;
}

/*Section 2: Projects*/

#projects{
    text-align: center;
    padding: 5rem;
    background-color: var(--main-medium-blue);
}

.sub-headers{
    color: var(--main-white);
    font-size: 2.45rem;
}

.project-flex{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.project-tile{
    width: 50%;
    height: 100%;
    
}

.project-iframe{
    width: 20rem;
    height: 25rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.project-heading{
    font-size: 1.45rem;
    width: max-content;
    margin: auto;
    font-weight: 500;
    color: var(--main-white);
    padding-bottom: 1rem;
}

.project-heading:hover{
    text-shadow: 2px 2px 4px #000000;
}

button{
    margin: 5rem auto 0 auto;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: var(--main-white);
    text-transform: uppercase;
    font-size: 1.15rem;
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--main-dark-blue);
    color: var(--main-white);
}

/*Section 3: Contact*/

#contact{
    text-align: center;
    padding: 5rem;
    background-color: var(--main-light-blue);
}

.project-tile a{
    text-decoration: none;
}



/*Section 4: Footer*/
footer{
    text-align: center;
    padding: 1.25rem;
    background-color:var(--main-dark-blue);
    color: var(--main-white);
}

/*Media Queries*/

@media only screen and (max-width: 815px){

    body{
        width: 100%;
    }

   .nav-items {
       flex-flow: column wrap;
       margin: 0 auto;
       text-align: center;
   }

    #welcome-section{
        text-align: center;
    }

    #projects{
        margin: auto;
    }

     .project-tile{
        display: contents;
    }

    .project-heading{
        padding: 2%;
    }
 
    .project-iframe{
        padding-bottom: 2rem;
    }

}